<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\Python312\python.exe|C:\Python312\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
    <fastCgi>
      <application fullPath="C:\Python312\python.exe" 
                   arguments="C:\Python312\Lib\site-packages\wfastcgi.py" 
                   maxInstances="4" 
                   idleTimeout="300" 
                   activityTimeout="30" 
                   requestTimeout="90" 
                   instanceMaxRequests="10000" />
    </fastCgi>
  </system.webServer>
  
  <appSettings>
    <!-- ระบุตำแหน่งของ Python -->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\aims_project" />
    <!-- ระบุ Django WSGI application -->
    <add key="WSGI_HANDLER" value="aims_project.wsgi.application" />
    <!-- ระบุตำแหน่งของ Django settings -->
    <add key="DJANGO_SETTINGS_MODULE" value="aims_project.settings" />
  </appSettings>
</configuration>